* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1273px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    gap: 512px;

    &__item {
        display: flex;
        gap: 40px;

        &__list {
            color: rgb(31, 21, 52);
            font-family: Mulish;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0%;
            text-align: left;
            /* 1f1534-hyfen */
            opacity: 0.5;

            &__link:hover {
                color: rgb(31, 21, 52);
                font-family: Mulish;
                font-size: 18px;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0%;
                text-align: left;
            }

        }
    }
}

// main----> start
// section1
.main {
    display: flex;
    gap: 112px;
    margin-top: 80px;
    margin-bottom: 178px;

    &__left {
        margin-top: 70px;

        &__txt {
            color: rgb(0, 0, 0);
            font-family: Mulish;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            width: 426px;
            height: 112px;
            margin-bottom: 25px;

            &__txt1 {
                color: rgb(125, 121, 135);
                font-family: Mulish;
                font-size: 21px;
                font-weight: 300;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 25px;
                margin-bottom: 45px;

                &__btn {
                    color: rgb(255, 255, 255);
                    font-family: Mulish;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 60px;
                    letter-spacing: 0%;
                    text-align: left;
                    border-radius: 55px;
                    background: rgb(69, 143, 246);
                    padding: 3px 40px 3px 40px;
                    margin-top: 45px;
                    border: none;
                }
            }
        }
    }
}


.section2 {
    &__services {
        color: rgb(0, 0, 0);
        font-family: Mulish;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0%;
        text-align: center;

        &__text {
            color: rgb(125, 121, 135);
            font-family: Mulish;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            width: 952px;
            height: 60px;
            margin-left: 150px;
            margin-top: 61px;
            margin-bottom: 78px;
        }
    }
}

.praduct {
    padding-left: 130px;

    &__tree {
        display: flex;
        gap: 34px;
        // margin-left:1225
        margin-bottom: 37px;
        z-index: 10;

        &__bacround {
            width: 350px;
            height: 354px;
            border-radius: 20px;
            box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
            background: rgb(255, 255, 255);
            background-color: rgb(255, 255, 255);
            padding-left: 42px;
            padding-top: 51px;
            padding-bottom: 47px;

            &__online {
                z-index: 20;

                &__h6 {
                    color: rgb(0, 0, 0);
                    font-family: Mulish;
                    font-size: 24px;
                    font-weight: 700;
                    width: 196px;
                    height: 56px;
                    z-index: 20;

                    &__praduct {
                        color: rgb(125, 121, 135);
                        font-family: Mulish;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 28px;
                        width: 261px;
                        height: 84px;
                        z-index: 20;
                    }
                }
            }

        }
    }
}

.learnmore {
    color: rgb(69, 143, 246);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 55px;
    background: transparent;
    padding: 2px 40px 2px 40px;
    margin-top: 74px;
    margin-left: 500px;
    margin-bottom: 176px;
    border-color: rgb(69, 143, 246);
}

// section3
.two {
    display: flex;
    gap: 100px;
    margin-bottom: 215px;

    &__rightimg {
        &__lefttxt {
            padding-top: 57px;

            &__h1txt {
                color: rgb(0, 0, 0);
                font-family: Mulish;
                font-size: 36px;
                font-weight: 700;
                line-height: 56px;
                text-align: left;
                width: 481px;
                height: 112px;

                &__ptxt {
                    color: rgb(125, 121, 135);
                    font-family: Mulish;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0%;
                    text-align: left;
                    width: 450px;
                    height: 120px;

                    &__button {
                        color: rgb(69, 143, 246);
                        font-family: Mulish;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 60px;
                        letter-spacing: 0%;
                        text-align: left;
                        border-radius: 55px;
                        background: transparent;
                        padding: 2px 40px 2px 40px;
                        border-color: rgb(69, 143, 246);
                    }
                }
            }
        }
    }
}

// section3==4

// section5
.bacroundimg {
    background-image: url("../imeges/bacroundimg.png");
    width: 1120px;
    height: 425px;
    padding-top: 61px;
    padding-bottom: 112px;
    padding-right: 116px;
    padding-left: 120px;
    margin: 0 auto;

    &__htext {
        color: rgb(255, 255, 255);
        font-family: Mulish;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
        margin: auto;
        width: 522px;
        height: 48px;
        margin-bottom: 30px;

        &__rightandleft {
            display: flex;
            gap: 100px;

            &__imgandtext {

                &__rightimg {
                    border-radius: 50%;
                    display: flex;
                    gap: 30px;

                    &__df {
                        padding-top: 40px;
                        width: 289px;
                        height: 141px;

                        &__dfp {
                            color: rgb(255, 255, 255);
                            font-family: Mulish;
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 48px;
                            letter-spacing: 0%;
                            text-align: left;
                            width: 184px;
                            height: 48px;

                            &__dfpp {
                                color: rgba(255, 255, 255, 0.85);
                                font-family: Mulish;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 48px;
                                letter-spacing: 0%;
                                text-align: left;
                                width: 119px;
                                height: 48px;

                                &__leftp {
                                    color: rgba(255, 255, 255, 0.9);
                                    font-family: Mulish;
                                    font-size: 19px;
                                    font-weight: 400;
                                    line-height: 30px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                    width: 420px;
                                    height: 120px;
                                    margin-top: 40px;

                                    &__vector {
                                        margin-left: 450px;
                                        margin-top: 39px;
                                        margin-bottom: 222px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// section6
.count {
    &__aligen {
        color: rgb(0, 0, 0);
        font-family: Mulish;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 100px;

        &__color {
            display: flex;
            gap: 34px;
            margin-bottom: 69px;
            margin-left: 70px;

            &__size {
                width: 350px;
                height: 512px;
                border-radius: 20px;
                box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
                background: rgb(255, 255, 255);

                &__top {
                    border-radius: 30px 30px 0px 0px;
                    // width: 409px;
                    // height: 272px;

                    &__h5txt {
                        color: rgb(0, 0, 0);
                        font-family: Mulish;
                        font-size: 21px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0%;
                        text-align: left;
                        width: 251px;
                        height: 64px;
                        margin-left: 33px;
                        margin-top: 21px;

                        &__bottom {
                            color: rgb(125, 121, 135);
                            font-family: Mulish;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 28px;
                            letter-spacing: 0%;
                            text-align: left;
                            margin-top: 12px;
                            margin-bottom: 25px;
                            width: 266px;
                            height: 84px;
                            margin-left: 33px;

                            &__readmore {
                                color: rgb(64, 137, 237);
                                font-family: Mulish;
                                font-size: 17px;
                                font-weight: 600;
                                line-height: 28px;
                                letter-spacing: 0%;
                                text-align: left;
                                margin-left: 33px;

                                &__viev {
                                    color: rgb(69, 143, 246);
                                    font-family: Mulish;
                                    font-size: 18px;
                                    font-weight: 700;
                                    line-height: 60px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                    border-radius: 55px;
                                    background: transparent;
                                    padding: 2px 40px 2px 40px;
                                    border-color: rgb(69, 143, 246);
                                    margin-left: 550px;
                                    margin-bottom: 201px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer
.footer {
    background: linear-gradient(211.68deg, rgb(103, 195, 243) 8.549%, rgb(90, 152, 242) 70.494%);
    width: 1273px;
    height: 432px;
    display: flex;
    justify-content: space-between;
    padding:118px 180px 109px 140px;

    &__fotersection {
        &__foterimg {
            &__fotertext {
                // width: 391px;
                // height: 84px;
                color: rgb(255, 255, 255);
                font-family: Mulish;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                margin-top: 17px;
                margin-bottom: 31px;

                &__fotertext2 {
                    color: rgb(255, 255, 255);
                    font-family: Mulish;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }
}